[
    {http_transfer,
        [
            {web_config,
                [
                    {http_port, 8080},
                    {pool_size, 10}
                ]
            },
            {hosts,
                [
                ]
            }
        ]
    },
    {lager, [
        {handlers, [
            {lager_console_backend, [{level, debug}, {formatter, lager_default_formatter},
                {formatter_config, [date, " ", time, " ", module, ":", function ,":", line, " ", " [",severity,"] ",pid, " ", message, "\n"]}]},
            {lager_file_backend, [{file, "log/debug.log"}, {level, debug},
                {formatter, lager_default_formatter},
                {formatter_config, [date, " ", time, " ", module, ":", function ,":", line, " ", " [",severity,"] ",pid, " ", message, "\n"]}]},
            {lager_file_backend, [{file, "log/info.log"}, {level, info},
                {formatter, lager_default_formatter},
                {formatter_config, [date, " ", time, " ", module, ":", function ,":", line, " ", " [",severity,"] ",pid, " ", message, "\n"]}]},
            {lager_file_backend, [{file, "log/error.log"}, {level, error},
                {formatter, lager_default_formatter},
                {formatter_config, [date, " ", time, " ", module, ":", function ,":", line, " ", " [",severity,"] ",pid, " ", message, "\n"]}]}
        ]}
    ]}
].
